$black: #18262F;
$black2: #233948;
$black3: #2D4351;

$white: #ffffff;
$darkwhite: #f7f7f7;

$gray: #6B7378;
$gray2: #586B75;

$blue: #058FD6;
$lightblue: #EAEFF3;

$elliottblue: #2D7899;
$elliottblue-hover: #19546d;

$radarblue: #17439c;
$radarblue-hover: #0e3179;

$red: #B52020;
$red-hover: #961818;

$orange: #DB6C00;
$orange-hover: #ac5907;

$yellow: #F4C22D;