$black: #18262F;
$black2: #1C2C37;
$black3: #2D4351;

$white: #ffffff;
$darkwhite: #f7f7f7;

$gray: #6B7378;
$gray2: #586B75;
$thumbnailbg: #d8dde2;

$blue: #058FD6;
$lightblue: #EAEFF3;
$elliottblue: #2D7899;
$radarblue: #17439c;

$red: #B52020;

$orange: #DB6C00;

$yellow: #F4C22D;