footer{
  background: $lightblue;
  text-align: left;
  .container{
    text-align: left;
    margin: 0 auto 4rem;
  }
  padding: 4rem 0;
  margin: 0 auto;
  .address{
    background: $lightblue;
    color: $gray;
    img{
      width: 150px;
      margin: 1rem 0;
    }
  }
  .address,
  .indicators,
  .legal{
    padding: 2rem;
    background: $white;
  }

  h6{
    color: $black2;
    padding: 0 1rem;
    font-size: 1.25rem;
    font-weight: $semibold;
  }
  ul{
    margin: .5rem 0;
  }
  a{
    font-size: .8rem;
    color: $gray2;
  }
  li{
    padding: 0 1rem;
  }
  .copyright{
    margin: 1rem auto 0 1rem;
    font-size: .75rem
  }
  .disclaimer p{
    margin: 1rem 1rem 0;
    font-size: .6rem;
  }
  @media (min-width: $tablet){
   
  }
  @media (min-width: $desktop){
 
  }
  @media (min-width: $oversized-desktop){
        
  }
}