section.main-intro{
  background: $black;
  color: $white;
  clear:both;
  .intro-wrapper{
    height: 100%;
  }
  h1{
    letter-spacing: .03rem;
    align-self: center;
    font-weight: $semibold;
    font-size: 1.5rem;
    padding: 4rem;
  }
  .blue{
    color: $blue;
  }
  @media (min-width: $tablet){
    h1{
      font-size: 2.5rem;
      line-height: 3.25rem;
      margin: -4rem 0 0;
    }
  }
  @media (min-width: $desktop){
    height: 40vh;   
  }
  @media (min-width: $oversized-desktop){
        
  }
}