section.product-page{
  background: linear-gradient(75deg, $black 0%, $black2 100%);
  color: $white;
  .center-contents{
    padding: 0 1rem;
  }
  .image-container{
    margin: 4rem 0 0;
    opacity: 0.9;
    align-items: flex-end;
    display: flex;
  }
  h1{
    margin: 4rem 0 0;
    font-weight: $semibold;
    font-size: 2rem;
  }
  h1:before{
    content: '';
    width: 100px;
    border: 2px solid $red;
    display: block;
  }
  h1.chartist:before{
    border: 2px solid $orange;
  }
  h1.elliott:before{
    border: 2px solid $elliottblue;
  }
  h1.radar:before{
    border: 2px solid $radarblue;
  }
  h2{
    color: $black3;
    font-size: 1.5rem;
    text-transform: uppercase;
  }
  @media (min-width: $tablet){
    h1{
      font-size: 2rem;
    }
    h2{
      font-size: 1.5rem;
    }
  }
  @media (min-width: $desktop){
 
  }
  @media (min-width: $oversized-desktop){
        
  }
}