section.main-products{
  .intro-wrapper{
    margin: 14rem auto;
    background: $white;
    &:first-child{
      margin-top: 0 !important;
    }
  }
  span{
    display: block;
  }
  .product img{
    padding: 4rem;
  }
  .product{
    background: $lightblue;
    background: linear-gradient(75deg, rgba(255,255,255,1) 0%, rgba(234,239,243,1) 100%);
    a{
      color: $white;
      float:right;
      padding: 1.5rem 3rem;
      font-weight: $bold;
    }
  } 
  .harmonic,
  .elliott{
    background: linear-gradient(75deg, rgba(234,239,243,1) 0%, rgba(255,255,255,1) 100%);
  }
  a.harmonic{
    background: $red;
    padding: 1.5rem;
    color: #ffffff;
    text-align: center;
    margin-top: 3rem !important;
    transition: .5s;
    &:hover{
      transition: .5s;
      padding-left: 3rem;
      background: $red-hover;
    }
  }
  a.chartist{
    background: $orange;
    padding: 1.5rem;
    color: #ffffff;
    text-align: center;
    margin-top: 3rem !important;
    transition: .5s;
    &:hover{
      transition: .5s;
      padding-left: 3rem;
      background: $orange-hover;
    }
  }
  a.elliott{
    background: $elliottblue;
    padding: 1.5rem;
    color: #ffffff;
    text-align: center;
    margin-top: 3rem !important;
    transition: .5s;
    &:hover{
      transition: .5s;
      padding-left: 3rem;
      background: $elliottblue-hover;
    }
  }
  a.radartape{
    background: $radarblue;
    padding: 1.5rem;
    color: #ffffff;
    text-align: center;
    margin-top: 3rem !important;
    transition: .5s;
    &:hover{
      transition: .5s;
      padding-left: 3rem;
      background: $radarblue-hover;
    }
  }

  .harmonic-description{
    background: $black2;
    color: #fff;
    margin-bottom: -4rem;
  }

  .chartist-description{
    background: $black2;
    color: #fff;
    margin-bottom: -4rem;
  }

  .elliott-description{
    background: $black2;
    color: #fff;
    margin-bottom: -4rem;
  }

  .radar-description{
    background: $black2;
    color: #fff;
    margin-bottom: -4rem;
  }

  //learn more link colors;
  .product-description a{
    display: block;
    margin: 1rem 0;
    text-transform: uppercase;
    font-weight: $semibold;
  }
  .harmonic-color{
    color: $red;
  }
  .chartist-color{
    color: $orange
  }
  .elliott-color{
    color: $elliottblue;
  }
  .radar-color{
    color: $radarblue;
  }


  .product-description-wrapper{
    align-self: center;
    padding: 4rem 2rem;
  }
  .product-number{
    font-size: 1.5rem;
  }
  .product-name{
    font-size: 2rem;
    line-height: 2.5rem;
    margin: 0 0 1rem;
  }
  .product-name{
    font-weight: $semibold;
  }

  .intro-bartype-wrapper{
    padding:4rem 2rem;
    background: $black;
    .product-description{
      background: $yellow;
    }
  }

  .bartype-wrapper{
    background: $black2;
    .product-name{
      color: $black2;
    }
    .product-blurb{
      color: $black2;
    }
    .bartype-color{
      color: $black2;
    }
    img{
      padding: 4rem 4rem 0 0;
    }
    .bartype-buynow{
      background: $black2;
      color: $yellow;
      margin: 2rem 0 0;
      text-align: center;
      padding: 1.5rem 3rem;
      font-weight: $bold;
    }
  }
  @media (min-width: $tablet){

    margin: -12rem auto 0;
    //flips the products for desktop so the text/image order is consistent on mobile
    .flip-for-desktop:nth-of-type(1) { order: 3; }
    .product-description-wrapper{
      padding: 4rem;
    }
    .intro-bartype-wrapper{
      padding:6rem 0;
      margin: 20rem auto 0;
    }
    .bartype-wrapper{
      margin: -10rem auto 0;
      .product-description{
        margin: -2rem 0;
      }
    } 
    .product-number{
      font-size: 3rem;
    }
  }
  @media (min-width: $desktop){
  }
  @media (min-width: $oversized-desktop){
        
  }
}